.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .input-location {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    background-color: rgb(18, 21, 20);
    border-radius: 0 0 10rem 10rem;
    width: 500px;
    height: 48px;

    .input-look {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      width: 280px;
      height: 25px;
      font-size: 24px;
      background: none;
      color: rgb(234, 240, 237);
      border-bottom: solid 1px rgb(62, 51, 72);
      transition: 0.5s;
    }
    .icon-input-look {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      color: rgb(62, 51, 72);
      left: 10rem;
      height: 20px;
    }

    .input-look[type="text"]:focus {
      outline: none;
      border-bottom: solid 1px rgb(62, 51, 72, 0.8);
    }
    .input-look:focus::placeholder {
      opacity: 0.3;
      transition: 1s;
    }
    .input-look::placeholder {
      color: rgb(234, 240, 237);
    }
    .units-button {
      position: relative;
      width: 65px;
      height: 25px;
      left: 11rem;
      border: none;
      border-radius: 1rem;
      color: white;
      background-color: rgb(62, 51, 72);

      cursor: pointer;
      transition: 0.2s;
      &:hover {
        background-color: rgb(97, 50, 141);
        box-shadow: 0px 1px 10px rgb(97, 50, 141);
      }
    }
  }

  .current-hour-day {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .current-weather-display {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .forecast-days-hour {
      display: flex;
      justify-content: center;
      align-items: center;
      .map {
        width: 300px;
        height: 300px;
        border-radius: 1rem;
      }
    }
  }
}
